*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}


h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  align-self: center;
  block-size: 534px;
  min-inline-size: 1140px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-top: 5px;
  block-size: 100%;
}

.content__list {
  overflow-y: scroll;
}

.search-form {
  display: flex;
  justify-content: flex-start;
}